/* GENERAL CSS */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-color: #8ea7e9;
}

section {
  height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  background-color: #7286d3;
  border-bottom: 2px solid black;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 36px;
}

nav ul {
  display: flex;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin: 10vh auto;
}

/* ABOUT CSS */

.about-columns {
  background-color: #fff2f2;
  max-width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vw auto;
  min-height: 80vh;
}

.about-column {
  flex-basis: 30%;
  flex-shrink: 1;
  background-color: #e5e0ff;
  padding: 2vh;
  margin: 10px;
  height: 60vh;
}

.about-section h4 {
  margin-bottom: 5px;
}

/* PROJECTS CSS */

.project-columns {
  max-width: 60vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.project-column {
  width: 30vw;
  margin: 0 3vw 0 3vw;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 5px;
}

.contact-column {
  margin: 0 35vw;
}

/*  CONTACT CSS */

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

input[type="text"],
input[type="email"],
textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  width: 30vw;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #555;
}